name: Backend Tests

on:
  push:
    branches: [ main ]
    paths:
      - 'code/jvm/**'
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('jvm/build.gradle.kts', 'jvm/settings.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Instalar Java (JDK 21)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Conceder permissão ao Gradle
        run: chmod +x ./gradlew
        working-directory: code/jvm

      - name: Rodar testes com Gradle
        run: ./gradlew test
        working-directory: code/jvm